# **PCC PGE Dataset**

This dataset is from the PCC and PGE and displays all of the PCC campuses and their Energy Consumption and costs.

In [3]:
# Question we are trying to answer.
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

Download the [PGE data.csv](https://drive.google.com/file/d/1krDHVBRlCTL5QR0Kg5VXhQduHVewu44Y/view?usp=sharing) file onto your computer and drag into this Notebook.

In [4]:
# Create a dataframe from our csv file
# Question we are trying to answer
df = pd.read_csv("PGE Data.csv")

In [5]:
# Display the column names
df.columns

Index(['Campus', 'PCC Building ID', 'Annual Use', 'Annual Charge'], dtype='object')

In [6]:
df.head()

      Campus                 PCC Building ID  Annual Use  Annual Charge
0   Sylvania     1110 - SS - SOCIAL SCIENCE       116560          12310
1  SE campus   4040 - SCOM - STUDENT COMMONS        8169           1295
2  SE campus     4010 - MSH - MT. SCOTT HALL      938100          91987
3   Sylvania  1120 - ST - SCIENCE TECHNOLOGY      381120          41188
4    Newberg    5400 - NB - NEWBERG BUILDING      141360          17434

#Group by Campus

In [8]:
df.groupby('Campus')[['Annual Use']].sum()

              Annual Use
Campus
CDSB               52095
CLIMB             213480
Downtown          311500
Newberg           141360
Rock Creek       4181172
SE campus        2055182
Swan Island       216000
Sylvania         8793346
Willow Creek      661200

# Bar Chart

In [ ]:
#Use this code if you want to create a bar chart
#Fill in the approriate columns and plot title and labels.
# Create a new dataframe, and group all of the Breed groups together
grouped_data = df.groupby(['']).sum()
#print the data
print(grouped_data)

# The next statement narrows down the dataframe to just the column you want
grouped_data = grouped_data['']
grouped_data.plot.bar(tick_label=str)
# Print title and axis labels
plt.xlabel(" ")
plt.ylabel(" ")
plt.title("  ")
plt.show()

# Donut or Pie Chart

In [ ]:
#Use this code if you want to create a Donut or pie chart
#Fill in the approriate columns and plot title and labels.
# Create a new dataframe, and group things together
grouped_data = df.groupby(['']).sum()

# The next statement narrows down the dataframe to just the column you want
grouped_data = grouped_data['']

grouped_data.plot.pie(figsize=(14, 7), autopct='%1.1f%%', subplots=True)

# The next 3 statements add a white circle to draw a donut chart
my_circle=plt.Circle( (0,0), 0.5, color='white')
p=plt.gcf()
p.gca().add_artist(my_circle)

# Print title and axis labels
plt.xlabel(" ")
plt.ylabel(" ")
plt.title(" ")

# Bar Chart with Percentages

# Scatter Plot

In [ ]:
# Create the scatter plot, specify two column names for x and y axis
# Both columns are quantitative (numbers).
df.plot.scatter(x="", y="", figsize=(10,8))

# Plot lines at the weights that divide dogs into small (< 12 year),
# medium (13 - 15 years), and large (> 15 years) categories.
# plt.axvline() plots a vertical line, plt.axhline() plots a horizontal line
plt.axvline(x=20, color="r", label="Small - Medium")
plt.axvline(x=30, color="g", label="Medum - Large")

# Add labels to the chart
plt.title("Your title goes here")
plt.xlabel("xlabel")
plt.ylabel("ylabel")